<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>System Monitor</title>
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="h1">System Monitor</h1>
      <a class="db-records-btn" href="/db_records" target="_blank">
        Show DB records
      </a>
    </header>
  <main class="main">
    <div class="info-container">
    <p id="lastUpdate">Time: {{ sys_info.time }}</p>

    <table class="info-table">
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>CPU Usage</td>
            <td id="cpu-usage">{{ sys_info.cpu_percent }}%</td>
        </tr>
        <tr>
            <td>RAM Usage</td>
            <td id="ram-usage">{{ sys_info.ram_percent }}% ({{ "%.2f"|format(sys_info.ram_used) }} GB / {{ "%.2f"|format(sys_info.ram_total) }} GB)</td>
        </tr>
        <tr>
            <td>Disk Usage</td>
            <td id="disk-usage">{{ sys_info.disk_percent }}% ({{ "%.2f"|format(sys_info.disk_used) }} GB / {{ "%.2f"|format(sys_info.disk_total) }} GB)</td>
        </tr>
      </table>
    </div>
    <div class="settings-container">
      <div class="interval-setting">
        <label class="upd-label" for="intervalInput">Update Interval (seconds):</label>
        <input type="number" id="intervalInput" value="1" min="1">
        <button onclick="setIntervalUpdate()">Set Interval</button>
          </div>
          <div class="recording-setting">
            <button id="recordingBtn" onclick="switchRecording()">
            {% if is_recording %} Stop Recording {% else %} Start Recording {% endif %}
            </button>
              <p id="recordingTime">Recording Time: 00:00:00</p>
          </div>
        </div>
      </main>
        <script src="{{ url_for('static', filename='/js/dataUsage.js') }}"></script>
    </div>
</body>
</html>
